/* begin reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

:root {

	--primary-colour: #23373b;
	--link-colour: #7a0000;
	--inner-gradient-colour: #fafafa;
	--outer-gradient-colour: #fafafa;
	--accent-background: #e3e3e3;

	/* --primary-colour: #393939;
	--link-colour: #88231e;
	--inner-gradient-colour: #9d9d9d9e;
	--outer-gradient-colour: #6c6c6c;
	--accent-background: rgb(255, 255, 255); */

	/* --primary-colour: #320864;
	--link-colour: #571024;
	--inner-gradient-colour: #610b9b9e;
	--outer-gradient-colour: #7925b3; */
}

body {
  font-size: 1.5rem;
  line-height: 2rem;
  word-spacing: .1em;
  text-align: justify;
  padding-top: 5rem;
  background: linear-gradient(0.25turn, var(--outer-gradient-colour), var(--inner-gradient-colour) 25%, var(--inner-gradient-colour) 75%, var(--outer-gradient-colour));
	/* background: linear-gradient(0.25turn, #47087b, #610b9b9e calc(50% + 18rem), #7925b3); */
	margin:5% auto;
  max-width:50em;
  padding:0 .6em;
	color: var(--primary-colour);
  /*background: #610b9b69;*/
	font-family: DejaVu Sans, sans-serif;
}

a {
	color: var(--link-colour);
}

hr {
	color: var(--primary-colour);
}

p {
	margin-bottom: 1rem;
}

#me {
	width: 100%;
	border: 2px var(--primary-colour) solid;
}

/* nav styling*/
nav li {
	display: inline-block;
	border: 2px var(--primary-colour) solid;
	margin: 0 0.09em;
}

nav a {
	display: block;
	padding: 0.5em 1.5em;
	transition: background-color 0.5s ease;
}

nav a:hover {
	background: var(--accent-background);
}

.current {
	background: var(--accent-background);
}

header {
	margin-bottom: 2rem;
}

footer {
	margin-top: 6rem;
	font-size: 12pt;
}

footer img {
	padding-right: 1em;
}

/* publications styling */
.year {
	margin-top: 1rem;
}
.publication {
		margin-top: 0.8rem;
		margin-left: 1rem;
}
.authors {
	margin-left: 1rem;
}
.venue {
	margin-left: 1rem;
}

/* places styling */
.activity {
	margin-left: 1rem;
}

/* fold styling */
.fold {
	background: -webkit-linear-gradient(top, #e5e5e5, #ccc);
	padding: 10px;
	width: 280px;
	height: 80px;
	color: #999;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.unfolder { display: none; }

.toggle-label {
	display: inline-block;
	cursor: pointer;
	font: inherit;
	font-size: 19px;
	border-radius: 5px;
	padding: 5px;
}
.unfold-icon, .fold-icon {
  color: #999;
  // fixed width to stop the icon from wiggling
  width: 10px;
  display: inline-block;
}
.unfolder ~ .fold {
  display: none;
}
.unfolder ~ label .fold-icon {
  display: none;
}

.unfolder:checked ~ .fold {
  display: block;
}
.unfolder:checked ~ label .fold-icon {
  display: inline-block;
}
.unfolder:checked ~ label .unfold-icon {
  display: none;
}
