/* begin reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */


body {
  font-size: 1.5rem;
  line-height: 2rem;
  word-spacing: .1em;
  text-align: justify;
  padding-top: 5rem;
  background: linear-gradient(0.25turn, #47087b, #610b9b9e calc(50% + 18rem), #7925b3);
  /*background: #610b9b69;*/
}

#wrapper {
  	margin: auto;
  	height: 100%;
  	min-height: 100vh;
  	max-width: 36rem;
  	padding: 0 1rem;
  	position: relative
}

p {
	margin-bottom: 1rem;
}

#sidebar {

}

#sidebarContent {
	width: 20rem;
	padding-left: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#foo li {
	text-align: center
}

img {
	width: inherit;
	height: auto;
	border: 2px solid #452d7b;
}

a {
  color: #452d7b;
  font-weight: 700;
  transition: color .2s ease
}

a:hover {
  color: #5a3d9b
}

nav a {
  text-decoration: none;
  font-weight: 400
}

nav {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.current {
	color: #df0e0e;
}

@media (min-width:79rem) {
  #sidebar {
    position: absolute;
    right: -2rem
  }

  #sidebarContent {
    width: 20rem;
    position: fixed;
    margin: 0 auto;
    border-left: thick double #5a3d9b;
  }
  
  #sidebarContent li {
  	padding-left: 1rem;
  }
  
  #content {
	float: right;
	margin-left: -14rem;
	}
}
